function Snake.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 100
call Array.new 1
pop this 1
push constant 0
push this 1
add
push constant 70
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 1
add
push constant 70
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 1
add
push constant 71
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 1
add
push constant 70
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 1
add
push constant 72
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 1
add
push constant 70
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push this 1
add
push constant 73
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push this 1
add
push constant 70
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push this 1
add
push constant 74
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push this 1
add
push constant 70
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push this 1
add
push constant 75
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push this 1
add
push constant 70
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
pop this 0
push pointer 0
push pointer 0
call Snake.getHeadX 1
push pointer 0
call Snake.getHeadY 1
push constant 0
not
call Snake.draw 4
pop temp 0
push pointer 0
return
function Snake.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Snake.draw 0
push argument 0
pop pointer 0
push argument 3
call Screen.setColor 1
pop temp 0
push argument 1
push constant 5
lt
push argument 1
push constant 500
gt
or
push argument 2
push constant 5
lt
or
push argument 2
push constant 245
gt
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 8
call String.new 1
push constant 89
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 100
call String.appendChar 2
call Output.printString 1
pop temp 0
call Sys.halt 0
pop temp 0
label IF_FALSE0
push argument 1
push argument 2
call Screen.drawPixel 2
pop temp 0
push constant 0
return
function Snake.move 2
push argument 0
pop pointer 0
push constant 0
pop local 0
push this 0
push constant 1
sub
push constant 2
call Math.multiply 2
pop local 1
push pointer 0
push constant 0
push this 1
add
pop pointer 1
push that 0
push constant 1
push this 1
add
pop pointer 1
push that 0
push constant 0
call Snake.draw 4
pop temp 0
label WHILE_EXP0
push local 0
push this 0
push constant 2
call Math.multiply 2
push constant 2
sub
lt
not
if-goto WHILE_END0
push local 0
push this 1
add
push local 0
push constant 2
add
push this 1
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
push this 1
add
push local 0
push constant 3
add
push this 1
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 2
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push argument 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push constant 1
add
push this 1
add
push local 1
push constant 1
add
push this 1
add
pop pointer 1
push that 0
push constant 1
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE0
push argument 1
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 1
push constant 1
add
push this 1
add
push local 1
push constant 1
add
push this 1
add
pop pointer 1
push that 0
push constant 1
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE1
push argument 1
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 1
push this 1
add
push local 1
push this 1
add
pop pointer 1
push that 0
push constant 1
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE2
push argument 1
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 1
push this 1
add
push local 1
push this 1
add
pop pointer 1
push that 0
push constant 1
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE3
push pointer 0
push pointer 0
call Snake.getHeadX 1
push pointer 0
call Snake.getHeadY 1
push constant 0
not
call Snake.draw 4
pop temp 0
push constant 0
return
function Snake.getHeadX 0
push argument 0
pop pointer 0
push this 0
push constant 1
sub
push constant 2
call Math.multiply 2
push this 1
add
pop pointer 1
push that 0
return
function Snake.getHeadY 0
push argument 0
pop pointer 0
push constant 1
push this 0
push constant 1
sub
push constant 2
call Math.multiply 2
add
push this 1
add
pop pointer 1
push that 0
return
function Snake.grow 2
push argument 0
pop pointer 0
push this 0
push constant 50
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 7
call String.new 1
push constant 89
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
call Output.printString 1
pop temp 0
call Sys.halt 0
pop temp 0
label IF_FALSE0
push this 0
push constant 1
sub
push constant 2
call Math.multiply 2
pop local 1
push local 1
push constant 2
add
pop local 0
push this 0
push constant 1
add
pop this 0
push argument 1
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push this 1
add
push local 1
push this 1
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
push this 1
add
push local 1
push constant 1
add
push this 1
add
pop pointer 1
push that 0
push constant 1
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE1
push argument 1
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
push this 1
add
push local 1
push this 1
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
push this 1
add
push local 1
push constant 1
add
push this 1
add
pop pointer 1
push that 0
push constant 1
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE2
push argument 1
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 0
push this 1
add
push local 1
push this 1
add
pop pointer 1
push that 0
push constant 1
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
push this 1
add
push local 1
push constant 1
add
push this 1
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE3
push argument 1
push constant 4
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 0
push this 1
add
push local 1
push this 1
add
pop pointer 1
push that 0
push constant 1
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
push this 1
add
push local 1
push constant 1
add
push this 1
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE4
push pointer 0
push pointer 0
call Snake.getHeadX 1
push pointer 0
call Snake.getHeadY 1
push constant 0
not
call Snake.draw 4
pop temp 0
push constant 0
return
